@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>Students' Operations Project</h3>
    <p>A small Project By Amir Arsalan Khroush</p>
</div>
